 <!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>BOT Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script><!--    daisyUI links-->
    <script src="https://cdn.tailwindcss.com"></script><!--    tailwindcss link-->
    <style>
    .user-message {
    background-color: #A5D9FF;
    max-width: 600px;
    }
    .bot-message {
        background-color: #fff;
        max-width: 500px;
    }
        .navbar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
    </style>
</head>
<body>
<div class="flex w-full">
    {% load static %}
  <div class="grid h-20 flex-grow card  rounded-box place-items-center">
      <div class="h-[350px] w-[350px] flex justify-center items-center mt-[100px]">
         <img src="{% static 'botchat.jpg' %}" alt="" srcset="">
      </div>

  </div>

  <div class="grid h-[570px] w-[400px] flex-grow card rounded-box" style="background-color: #f0f0f0; background-image: url('{% static 'Chats.png' %}');">
<!--      navbar start-->
      <div class="navbar bg-base-100">
          <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-12 rounded-full">
          <img src="{% static 'bot.png' %}" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a target="_parent" href="http://127.0.0.1:8000/homepage/{{user_name}}" ><button id="back">Home</button></a></li>
            <li><a href="/loadout/">Logout</a></li>
      </ul>
        </div><h3 class="justify-between text-xl font-semibold"> {{user_full_name}}</h3>
      </div>
<!--      navbar finished-->

<!--      chat start-->
      <div class="chat-container h-[550px]" style="overflow-y: auto;">
      <div class="chat h-auto ">
          {% for message in messages %}
        <div class="chat mt-[100px]">
        <div class="">
            <h3 class="chat-header text-xl font-bold text-white mx-[20px]">
                {% if message.sender == 'user' %}
                YOU
                {% else %}
                ROBO
                {% endif %}
            </h3>
            <div class="max-w-4/5 mx-[20px]">

                <p class="rounded  font-semibold text-center {% if message.sender == 'user' %}
                user-message
                {% else %}
                bot-message
                {% endif %} w-[250px] h-[50px]" style="color: black max-width: 80%; word-wrap: break-word;">{{ message.text }}
                    <br><br><time class="text-xs font-bold">{{message.time}}
                    </time></p>


            </div>
            <br>
        </div>
    </div>
{% endfor %}
</div>

</div>
      <div class="fixed mt-[400px]">
            <form method="POST">
                {% csrf_token %}
                <input name="message"type="text" placeholder="Type here" class="input input-bordered input-info h-[60px] w-[650px] mt-[100px]"/>
                <input class="btn bg-[#032A47] absolute inset-y-0 right-0 h-[60px] px-4 text-white mt-[100px]" type="submit" value="SEND">
            </form>
          </div>

</body>
</html>



